# FINANCE DATA ANALYSIS

## import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import plotly.express as px

## importing dataset

In [3]:
df=pd.read_excel(r"C:\BOSS\STUDIES\Githyb Project\finance domain\financial_loan.xlsx")

In [4]:
df.head(5)

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,2021-02-11,2021-09-13,2021-04-13,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-01-05,2021-12-12,2021-01-09,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-03-12,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835

## metadata of data

In [10]:
print('no of rows:',df.shape[0])
print('no of columns:',df.shape[1])

no of rows: 38576
no of columns: 24

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  datetime64[ns]
 8   last_credit_pull_date  38576 non-null  datetime64[ns]
 9   last_payment_date      38576 non-null  datetime64[ns]
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  datetime64[ns]
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
dtypes: datetime64[ns](4), float64(4), int64(5), object(11)
memory usage: 7.1+ MB

In [12]:
df.describe()

,id,issue_date,last_credit_pull_date,last_payment_date,next_payment_date,member_id,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
count,3.857600e+04,38576,38576,38576,38576,3.857600e+04,3.857600e+04,38576.000000,38576.000000,38576.000000,38576.000000,38576.000000,38576.000000
mean,6.810371e+05,2021-07-16 02:31:35.562007040,2021-06-08 13:36:34.193280512,2021-06-26 09:52:08.909166080,2021-07-26 20:42:20.605557760,8.476515e+05,6.964454e+04,0.133274,326.862965,0.120488,11296.066855,22.132544,12263.348533
min,5.473400e+04,2021-01-01 00:00:00,2021-01-08 00:00:00,2021-01-08 00:00:00,2021-02-08 00:00:00,7.069900e+04,4.000000e+03,0.000000,15.690000,0.054200,500.000000,2.000000,34.000000
25%,5.135170e+05,2021-04-11 00:00:00,2021-04-15 00:00:00,2021-03-16 00:00:00,2021-04-16 00:00:00,6.629788e+05,4.150000e+04,0.082100,168.450000,0.093200,5500.000000,14.000000,5633.000000
50%,6.627280e+05,2021-07-11 00:00:00,2021-05-16 00:00:00,2021-06-14 00:00:00,2021-07-14 00:00:00,8.473565e+05,6.000000e+04,0.134200,283.045000,0.118600,10000.000000,20.000000,10042.000000
75%,8.365060e+05,2021-10-11 00:00:00,2021-08-13 00:00:00,2021-09-15 00:00:00,2021-10-15 00:00:00,1.045652e+06,8.320050e+04,0.185900,434.442500,0.145900,15000.000000,29.000000,16658.000000
max,1.077501e+06,2021-12-12 00:00:00,2022-01-20 00:00:00,2021-12-15 00:00:00,2022-01-15 00:00:00,1.314167e+06,6.000000e+06,0.299900,1305.190000,0.245900,35000.000000,90.000000,58564.000000
std,2.113246e+05,NaN,NaN,NaN,NaN,2.668105e+05,6.429368e+04,0.066662,209.092000,0.037164,7460.746022,11.392282,9051.104777

## data types

In [14]:
df.dtypes

id                                int64
address_state                    object
application_type                 object
emp_length                       object
emp_title                        object
grade                            object
home_ownership                   object
issue_date               datetime64[ns]
last_credit_pull_date    datetime64[ns]
last_payment_date        datetime64[ns]
loan_status                      object
next_payment_date        datetime64[ns]
member_id                         int64
purpose                          object
sub_grade                        object
term                             object
verification_status              object
annual_income                   float64
dti                             float64
installment                     float64
int_rate                        float64
loan_amount                       int64
total_acc                         int64
total_payment                     int64
dtype: object

# key performance indicators

### total loan appliaction

In [17]:
total_loan_application=df['id'].count()
print('TOTAL LOAN APPLICATION:',df['id'].count())

TOTAL LOAN APPLICATION: 38576

### month to date total loan appliaction(MTD)

In [20]:
""" The total number (or value) of loan applications that have been received from the 1st day of the current month up to today."""

' The total number (or value) of loan applications that have been received from the 1st day of the current month up to today.'

In [23]:
latest_issue_date = df['issue_date'].max()
latest_year = latest_issue_date.year
latest_month = latest_issue_date.month  

mtd_data = df[
    (df['issue_date'].dt.year == latest_year) &
    (df['issue_date'].dt.month == latest_month)
]

mtd_loan_application = mtd_data['id'].count()
print(f"MTD loan application (for {latest_issue_date.strftime('%B %Y')}): {mtd_loan_application}")

MTD loan application (for December 2021): 4314

### total funded amount

In [37]:
total_funded_amount=df['loan_amount'].sum()
total_funded_amount_millions=  total_funded_amount / 1000000

print('TOTAL FUNDED AMOUNT: ${:.2f}M'.format(total_funded_amount_millions))

TOTAL FUNDED AMOUNT: $435.76M

### mtd total funded amount

In [42]:
latest_issue_date = df['issue_date'].max()
latest_month=latest_issue_date.month
latest_year=latest_issue_date.year

mtd_data=df[
(df['issue_date'].dt.month==latest_month)&
(df['issue_date'].dt.year==latest_year)
]

mtd_tota_funded_amount= mtd_data['loan_amount'].sum()
mtd_tota_funded_amount_millions= mtd_tota_funded_amount/1000000
print('mtd_total_funded_amount :${:.2f}m'.format(mtd_tota_funded_amount_millions))

mtd_total_funded_amount :$53.98m

### total amount reived

In [45]:
total_amount_recived=df['total_payment'].sum()
total_recived_in_million=total_amount_recived/1000000
print('total amount recived:${:.2f}m'.format(total_recived_in_million))

total amount recived:$473.07m

### mtd total amount recived

In [46]:
latest_issue_date=df['issue_date'].max()
latest_year=latest_issue_date.year
latest_month=latest_issue_date.month

mtd_data=df[
    (df['issue_date'].dt.year==latest_year)&
    (df['issue_date'].dt.month==latest_month)
]

mtd_amount_recived=mtd_data['total_payment'].sum()
mtd_amount_recived_million=mtd_amount_recived/1000000
print('mtd total amount recived:${:.2f}m'.format(mtd_amount_recived_million))

mtd total amount recived:$58.07m

### average intrest rate

In [50]:
avg_intrest_rate=df['int_rate'].mean()*100
print('avg intrest rate :{:.2f}%'.format(avg_intrest_rate))

avg intrest rate :12.05%

### average debt-to-income-ratio

In [55]:
avg_dti=df['dti'].mean()*100
print('avg debt to income ratio: {:.2f}%'.format(avg_dti))

avg debt to income ratio: 13.33%

## SECONDARY KPI

### good loan metrics

In [66]:
good_loans=df[
df['loan_status'].isin(['Fully Paid','Current'])
]

total_loan_application=df['id'].count()


good_loan_application=good_loans['id'].count()
good_loan_funded=good_loans['loan_amount'].sum()
good_loan_recived=good_loans['total_payment'].sum()



good_loan_funded_millions=good_loan_funded/1000000
good_loan_recived_millions=good_loan_recived/1000000

good_loan_percentage=(good_loan_application/total_loan_application)*100


print('good loan application:',good_loan_application)
print('good loan funded : ${:.2f}m'.format(good_loan_funded_millions))
print('good loan recived : ${:.2f}m'.format(good_loan_recived_millions))
print('good loan percentage: {:.2f}%'.format(good_loan_percentage))

good loan application: 33243
good loan funded : $370.22m
good loan recived : $435.79m
good loan percentage: 86.18%

### bad loan metrics

In [73]:
bad_loans=df[
    df['loan_status'].isin(['Charged Off'])
]


total_loan_application=df['id'].count()

bad_loan_application=bad_loans['id'].count()
bad_loan_funded=bad_loans['loan_amount'].sum()
bad_loan_recived=bad_loans['total_payment'].sum()

bad_loan_percentage=(bad_loan_application/total_loan_application)*100

bad_loan_funded_millions=bad_loan_funded/1000000
bad_loan_recived_millions=bad_loan_recived/1000000

print('bad loan application:',bad_loan_application)
print('bad loan funded : ${:.2f}m'.format(bad_loan_funded_millions))
print('bad loan recived : ${:.2f}m'.format(bad_loan_recived_millions))
print('bad loan percentage: {:.2f}%'.format(bad_loan_percentage))

bad loan application: 5333
bad loan funded : $65.53m
bad loan recived : $37.28m
bad loan percentage: 13.82%

### monthly trends for issue date for total funded amount

In [ ]:
monthly-funds=(
    df.sort_values('issue_date')
    .assign(month_name=lambda x:x['issue_date'].dt.strftime('b% %y'))
    .groupby('month_name',sort=False)['loan_amount']
    .sum()
    .div(1000000)
    .reset_index(name=